# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.class

# Folders
build/*
target/*


# Eclipse, IntelliJ project files
*.iml
.idea
*.project
.classpath

# Config files
/config*
/build/
/bin/
.settings/*
